*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(11, 11, 66);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Box*/
.container
{
	margin-top:100px;
    max-width: 700px;
    height: 95%;
    width: 100%;
    background: #fff;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
}
.container .title
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 0;
    margin-top: 5px;
    height: 3px;
    width: 180px;
    background: linear-gradient(135deg, rgb(104, 104, 241), rgb(11, 11, 66));
}

.container form .info
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .info .input-box
{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.info .input-box .details
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.info .input-box input,select
{
    color: #999;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(11, 11, 66);
    padding-left: 15px;
    font-size: 13px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
option
{
    color: black;
}
.info .input-box input:focus,
.info .input-box input:valid{
    border-color: rgb(11, 11, 66);
}

/* Payment Info*/
form .paydetails .paytitle
{
    font-size: 16px;
    font-weight: 500;
}
form .paydetails .category
{
    display: flex;
    width: 120%;
    margin-top:0px;
    margin-bottom:0px;
    justify-content: space-between;
}
.paydetails .category label
{
    display: flex;
    align-items: center;
}
.paydetails .category .dot
{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin: 10px 10px;
    border: 5px solid transparent;
    transition: all 0.3 ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four
{
    border-color: #d9d9d9 ;
    background: rgb(11, 11, 66);
}
form input[type="radio"]
{
    display: none;
}

/*button*/
form .button
{
    height: 45px;
    width: 59%;
    display: inline block;
}
form .button input
{
    height: 100%;
    width: 40%;
    outline: none;
    color: #fff;
    border: none;
    margin: 10px;
    align-content: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, rgb(104, 104, 241), rgb(11, 11, 66));
}
form .button input:hover{
    background: linear-gradient(-135deg, rgb(104, 104, 241), rgb(11, 11, 66));
}
@media (max-width: 585px)
{
    .container
    {
        max-width: 100%;
    }
    form .info .input-box
   {
    margin-bottom: 15px;
    width: 100%;
   }
   form .paydetails .category
  {
    width: 100%;
  }
  .container form .info
  {
    max-height: 300px;
    overflow-y: scroll;
  }
  .info::-webkit-scrollbar
  {
    width: 0;
  }
}