<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginPageServlet</display-name>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>com.tca.login.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/LoginPageServlet</url-pattern>
  </servlet-mapping>
  <display-name>TCA-FEE-MANAGEMENT</display-name>
  <welcome-file-list>
    <welcome-file>LoginPage.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.tca.login.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFeesServlet</display-name>
    <servlet-name>addFeesServlet</servlet-name>
    <servlet-class>com.tca.dashboard.addFeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFeesServlet</servlet-name>
    <url-pattern>/addFeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enrollStudent</display-name>
    <servlet-name>enrollStudent</servlet-name>
    <servlet-class>com.tca.dashboard.enrollStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enrollStudent</servlet-name>
    <url-pattern>/enrollStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dashboard</display-name>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>com.tca.dashboard.dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAllRecords</display-name>
    <servlet-name>viewAllRecords</servlet-name>
    <servlet-class>com.tca.dashboard.viewAllRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAllRecords</servlet-name>
    <url-pattern>/viewAllRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAllCourses</display-name>
    <servlet-name>viewAllCourses</servlet-name>
    <servlet-class>com.tca.dashboard.viewAllCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAllCourses</servlet-name>
    <url-pattern>/viewAllCourses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editCourse</display-name>
    <servlet-name>editCourse</servlet-name>
    <servlet-class>com.tca.dashboard.editCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCourse</servlet-name>
    <url-pattern>/editCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewReport</display-name>
    <servlet-name>viewReport</servlet-name>
    <servlet-class>com.tca.dashboard.viewReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewReport</servlet-name>
    <url-pattern>/viewReport</url-pattern>
  </servlet-mapping>
</web-app>